.content {
  width: 75%;
  background-color: #F2F7FF;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.user-info p{
  color: #676767;
  padding-top: 5px;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.user-name{
  color: #333;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.card-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  justify-content: space-between;
  background: #3B82F6;
  height: 70px;
}

.card-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-icon i {
  color: #333;
}

/* .card-content h3 {
  margin: 0;
  margin-bottom: 10px;
} */

/* .card-content p {
  margin: 0;
} */

.helping-text{
color: #FFF;
font-family: SF Pro;
font-size: 20px;
font-style: normal;
font-weight: 510;
line-height: normal;
}
.helping-no{
font-size: 40px;
font-weight: 590;
}

.card-container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.card {
  width: 24%;
  background-color: white;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 8px;
  padding-left: 15px;
  /* margin: 10px; */
  border-radius: 5px;
border-bottom: 4px solid #F00;
background: var(--white-white, #FFF);
box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.05);
}

.second-card{
  border-bottom: 4px solid #F6C259;
}

.third-card{
  border-bottom: 4px solid #7F63F4;;
}

.card span{
  color: #64748B;
  /* margin: 0.5rem; */
}
.card p{
  font-family: SF Pro Text;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px;
/* margin: 0.5rem; */
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.searchbar {
  width: 30%;
}

.container{
height: 476px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid rgba(71, 91, 232, 0.25);
background: linear-gradient(180deg, #FFF 0%, rgba(153, 165, 251, 0.50) 100%);
margin-top: 20px;
overflow-y: scroll;
}

.gps-screen{
  /* width: 40%; */
  height: 220px;
  /* width: 100%;
  height: 126px; */
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid blue;
  margin-top: 20px;
  border-radius: 8px;
  border: 2px solid #3B82F6;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}

.first-strip{
    width: 39%;
    height: 10px;
    background-color: #cdc6c6;
    border-radius: 6px;
}
.btn-secondary{
  width: 100%;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
}