.multistep{
    /* margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.multistep-main{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 50%;
    background-color: rgb(240, 244, 244);
    border-radius: 16px;
    /* max-height: 85%; */
}
.group{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.detail-header{
        height: 56px;
        padding: 16px;
        background: #0F172A;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
}
.detail-title{
    color: white;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  word-wrap: break-word;
}
.x-circle{
  width: 24px;
  height: 24px;
  position: relative;
  background: #ffffff;
  border-radius: 50%;
}
.Vector {
    width: 19.5px;
    height: 19.5px;
    left: 2.25px;
    top: 2.25px;
    position: absolute;
    
  }
  
  .Vector::before,
  .Vector::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background: #0F172A;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Vector::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .Vector::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .popup {
    position: absolute;
    left: 19%;
    bottom: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .popup-content {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
  }
  
  .popup-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .popup-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .popup-option {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f3f3f3;
  }
  
  .popup-option:hover {
    background-color: rgb(144, 202, 132)
  }

  .steps-num{
    width: 100%;
    padding: 10px;
    padding-top: 0 !important;
  }

  .multi-form{
    width: 100%;
  }

  .action-btn{
    display: flex;
    justify-content: space-between;
    padding: 20px
  }