.container4 {
    margin-top: 20px;
    /* padding: 10px; */
    /* background-color: #f5f5f5; */
    /* border: 2px solid red; */
    height: 145px;
    width: 70%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin: auto; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    border-radius: 8px;
    border: 1px solid #64748B;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }

  .btn-add{
    margin: auto;
    display: flex;
    margin-top: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-color: #FFF;
  }

  .main-contain{
    height: 100vh;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(71, 91, 232, 0.25);
    background: linear-gradient(180deg, #FFF 0%, rgba(153, 165, 251, 0.50) 100%);
    /* margin-top: 20px; */
  }
  .first{
    width: 39%;
    height: 10px;
    background-color: #cdc6c6;
    border-radius: 6px;
  }

  .second{
    width: 84%;
    height: 10px;
    background-color: #e1d7d7;
    border-radius: 6px;
    margin-top: 17px;
  }

  .third{
    width: 64%;
    height: 10px;
    background-color: #e1d7d7;
    border-radius: 6px;
    margin-top: 17px;
  }

  .sub-container{
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 10px;
    /* display: flex; */
  }

  .sub-first{
    background-color: #bebeeb;
  }
  .sub2{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
  }